.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons__icon {
    display: flex;
    flex-direction: column; /*이걸 쓰면 요소들이 좌우가 아닌 위아래로 정렬됨*/
    align-items: center;
}

.find-icons__icon i {
    font-size: 35px; /*find-icons__icon들에 포함된 아이콘들 크기 조절*/

}

.find-icons__icon span {
    margin-top: 18px;
}

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

.recommended-friends span {
    margin: 100px 0;
    display: block;
    text-align: center;
    /*span에 text-align으로 가운데 정렬을 하고 싶다면
    display:block으로 블록으로 만들어줘야함*/
    color: var(--main-font-color);
}