

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

.recommended-friends span {
    margin: 100px 0;
    display: block;
    text-align: center;
    /*span에 text-align으로 가운데 정렬을 하고 싶다면
    display:block으로 블록으로 만들어줘야함*/
    color: var(--main-font-color);
}