.icon-row{
    display: flex;
    justify-content: space-between;
}

.icon-row__icon {
    display: flex;
    flex-direction: column; /*이걸 쓰면 요소들이 좌우가 아닌 위아래로 정렬됨*/
    align-items: center;
}

.icon-row__icon i {           /*icon-rowd-icons__icon들에 포함된 아이콘들 크기 조절*/
    font-size:35px;
}

.icon-row__icon span {
    margin-top: 18px;
}